In [ ]:
Q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [ ]:
A1-
''*'' - Expression
'hello'- value
''-87.8'- value
''-'' - expression
''/'' -expression
''+'' - expression
'6' -value

In [ ]:
Q2. What is the difference between string and variable?

In [ ]:
A2-
- Variable is where we can store or assign values to locate in memory.
- string is the value assignment.

In [ ]:
Q3. Describe three different data types.

In [ ]:
A3-
-Three different types of database are-
Numeric.
Sequence Type
Boolean.

In [ ]:
Q4. What is an expression made up of? What do all expressions do?

In [ ]:
A4-
An expression is a combination of values, variables, operators, and calls to functions. An expression evaluates and display the result.

In [ ]:
Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
A5-
A statement is an instruction that the Python interpreter can execute. EX- If statement, while statement, for statement etc.
An expression is a combination of values, variables, operators, and calls to functions.

In [ ]:
Q6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [ ]:
A6-
22

In [ ]:
Q7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [ ]:
A7-
'spamspamspam'
'spamspamspam'
it is same

In [ ]:
Q8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
A8-
Because we can't start giving variable an integer name. 
we should begin with, a string-like alphabet name then integer.

In [ ]:
Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
A9-
str(), int(), float()

In [ ]:
Q10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [ ]:
A10-
Because we can not concatenate integer and if we want to do then we have to do typecasting.